before_deploy: wget -O - https://raw.githubusercontent.com/easybiblabs/travis-deploy/master/before_deploy.sh | sh

deploy:
  - provider: s3
    secret_access_key:
      secure: eX4mPlEkey
    access_key_id:
      secure: eX4mPlEkey
    bucket: "assets-folder"
    skip-cleanup: true
    local-dir: s3-upload
    upload-dir: reponame
    detect_encoding: true
    on:
      tags: true
      all_branches: true
  - provider: s3
    secret_access_key:
      secure: eX4mPlEkey
    access_key_id:
      secure: eX4mPlEkey
    bucket: "assets-folder"
    skip-cleanup: true
    local-dir: s3-upload
    upload-dir: reponame
    detect_encoding: true
    on:
      branch: master
